html {
	background: #efefef;
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
	color: #000000;
}
#vanbungkring-main-container {
	width: 500px;
	margin: 0 auto;
	height: 350px;
	margin-top: 20px;
}
#vanbungkring-main-container .logo {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
}
#vanbungkring-main-container h1 {
	text-align: center;
	font-family: 'Patua One', cursive;
}
#vanbungkring-main-container .social {
	float: left;
	margin-right: 10px;
	text-align: center;
}
